CarRentalWebSite/Service References/CarManagementServiceReference/VehicleManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehicleManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52980/CarManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52980/CarManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52980/CarManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehicleManagementService_InsertCar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCar" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_InsertCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_RetrieveCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCarDetails" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_RetrieveCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_UpdateCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetails" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_UpdateCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_DeleteCarRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarRecords" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_DeleteCarRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_AvailableCars_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCars" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_AvailableCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_Booking_InputMessage">
    <wsdl:part name="parameters" element="tns:Booking" />
  </wsdl:message>
  <wsdl:message name="IVehicleManagementService_Booking_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehicleManagementService">
    <wsdl:operation name="InsertCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/InsertCar" message="tns:IVehicleManagementService_InsertCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/InsertCarResponse" message="tns:IVehicleManagementService_InsertCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/RetrieveCarDetails" message="tns:IVehicleManagementService_RetrieveCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/RetrieveCarDetailsResponse" message="tns:IVehicleManagementService_RetrieveCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/UpdateCarDetails" message="tns:IVehicleManagementService_UpdateCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/UpdateCarDetailsResponse" message="tns:IVehicleManagementService_UpdateCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCarRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/DeleteCarRecords" message="tns:IVehicleManagementService_DeleteCarRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/DeleteCarRecordsResponse" message="tns:IVehicleManagementService_DeleteCarRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/AvailableCars" message="tns:IVehicleManagementService_AvailableCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/AvailableCarsResponse" message="tns:IVehicleManagementService_AvailableCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleManagementService/Booking" message="tns:IVehicleManagementService_Booking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleManagementService/BookingResponse" message="tns:IVehicleManagementService_Booking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehicleManagementService" type="tns:IVehicleManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCar">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/InsertCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCarDetails">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/RetrieveCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/UpdateCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCarRecords">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/DeleteCarRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableCars">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/AvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap:operation soapAction="http://tempuri.org/IVehicleManagementService/Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehicleManagementService">
    <wsdl:port name="BasicHttpBinding_IVehicleManagementService" binding="tns:BasicHttpBinding_IVehicleManagementService">
      <soap:address location="http://localhost:52980/CarManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>