CarRentalWebSite/Service References/AuthServiceReference/AuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerModel" nillable="true" type="tns:CustomerModel" />
  <xs:complexType name="AddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressModel" nillable="true" type="tns:AddressModel" />
  <xs:complexType name="AdminModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminModel" nillable="true" type="tns:AdminModel" />
</xs:schema>