CarRentalWebSite/Service References/AuthServiceReference/AuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52980/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
  <xs:element name="RegisterCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="customerModel" nillable="true" type="q1:CustomerModel" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="customerAddressModel" nillable="true" type="q2:AddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCustomerDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="customerLogin" nillable="true" type="q3:CustomerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="adminModel" nillable="true" type="q4:AdminModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="adminModel" nillable="true" type="q5:AdminModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>