CarRentalWebSite/Service References/AuthServiceReference/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52980/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52980/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52980/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_RegisterCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegisterCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateCustomer" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegisterAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdmin" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegisterAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAdmin" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="RegisterCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/RegisterCustomerDetails" message="tns:IAuthService_RegisterCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterCustomerDetailsResponse" message="tns:IAuthService_RegisterCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/AuthenticateCustomer" message="tns:IAuthService_AuthenticateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AuthenticateCustomerResponse" message="tns:IAuthService_AuthenticateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/RegisterAdmin" message="tns:IAuthService_RegisterAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterAdminResponse" message="tns:IAuthService_RegisterAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/AuthenticateAdmin" message="tns:IAuthService_AuthenticateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AuthenticateAdminResponse" message="tns:IAuthService_AuthenticateAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IAuthService/RegisterCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCustomer">
      <soap:operation soapAction="http://tempuri.org/IAuthService/AuthenticateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAdmin">
      <soap:operation soapAction="http://tempuri.org/IAuthService/RegisterAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAdmin">
      <soap:operation soapAction="http://tempuri.org/IAuthService/AuthenticateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:52980/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>