CarRentalWebSite/Service References/VanServiceReference/Van.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Van" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50779/Van.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50779/Van.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50779/Van.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VanRentalService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVanService_InsertVan_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVan" />
  </wsdl:message>
  <wsdl:message name="IVanService_InsertVan_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVanResponse" />
  </wsdl:message>
  <wsdl:message name="IVanService_AvailableVan_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableVan" />
  </wsdl:message>
  <wsdl:message name="IVanService_AvailableVan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableVanResponse" />
  </wsdl:message>
  <wsdl:portType name="IVanService">
    <wsdl:operation name="InsertVan">
      <wsdl:input wsaw:Action="http://tempuri.org/IVanService/InsertVan" message="tns:IVanService_InsertVan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVanService/InsertVanResponse" message="tns:IVanService_InsertVan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableVan">
      <wsdl:input wsaw:Action="http://tempuri.org/IVanService/AvailableVan" message="tns:IVanService_AvailableVan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVanService/AvailableVanResponse" message="tns:IVanService_AvailableVan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVanService" type="tns:IVanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVan">
      <soap:operation soapAction="http://tempuri.org/IVanService/InsertVan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableVan">
      <soap:operation soapAction="http://tempuri.org/IVanService/AvailableVan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Van">
    <wsdl:port name="BasicHttpBinding_IVanService" binding="tns:BasicHttpBinding_IVanService">
      <soap:address location="http://localhost:50779/Van.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>