CarRentalWebSite/Service References/VanServiceReference/Van.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VanRentalService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VanRentalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VanModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DailyRent" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isavailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegPlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VanId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VanModel" nillable="true" type="tns:VanModel" />
  <xs:complexType name="ArrayOfVanModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VanModel" nillable="true" type="tns:VanModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVanModel" nillable="true" type="tns:ArrayOfVanModel" />
</xs:schema>