CarRentalWebSite/Service References/CarServiceReference/Car.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Car" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52980/Car.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52980/Car.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52980/Car.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehicle_InsertCar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCar" />
  </wsdl:message>
  <wsdl:message name="IVehicle_InsertCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_RetrieveCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCarDetails" />
  </wsdl:message>
  <wsdl:message name="IVehicle_RetrieveCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_UpdateCarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetails" />
  </wsdl:message>
  <wsdl:message name="IVehicle_UpdateCarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_DeleteCarRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarRecords" />
  </wsdl:message>
  <wsdl:message name="IVehicle_DeleteCarRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_AvailableCars_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCars" />
  </wsdl:message>
  <wsdl:message name="IVehicle_AvailableCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_MakeBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeBooking" />
  </wsdl:message>
  <wsdl:message name="IVehicle_MakeBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_ModifyBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyBooking" />
  </wsdl:message>
  <wsdl:message name="IVehicle_ModifyBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_CancelBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBooking" />
  </wsdl:message>
  <wsdl:message name="IVehicle_CancelBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_CheckCarAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCarAvailability" />
  </wsdl:message>
  <wsdl:message name="IVehicle_CheckCarAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCarAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetTotalNumberOfCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNumberOfCar" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetTotalNumberOfCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNumberOfCarResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetTotalNumberOfCarOnRent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNumberOfCarOnRent" />
  </wsdl:message>
  <wsdl:message name="IVehicle_GetTotalNumberOfCarOnRent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNumberOfCarOnRentResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehicle">
    <wsdl:operation name="InsertCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/InsertCar" message="tns:IVehicle_InsertCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/InsertCarResponse" message="tns:IVehicle_InsertCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/RetrieveCarDetails" message="tns:IVehicle_RetrieveCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/RetrieveCarDetailsResponse" message="tns:IVehicle_RetrieveCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/UpdateCarDetails" message="tns:IVehicle_UpdateCarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/UpdateCarDetailsResponse" message="tns:IVehicle_UpdateCarDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCarRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/DeleteCarRecords" message="tns:IVehicle_DeleteCarRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/DeleteCarRecordsResponse" message="tns:IVehicle_DeleteCarRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/AvailableCars" message="tns:IVehicle_AvailableCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/AvailableCarsResponse" message="tns:IVehicle_AvailableCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/MakeBooking" message="tns:IVehicle_MakeBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/MakeBookingResponse" message="tns:IVehicle_MakeBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/ModifyBooking" message="tns:IVehicle_ModifyBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/ModifyBookingResponse" message="tns:IVehicle_ModifyBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/CancelBooking" message="tns:IVehicle_CancelBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/CancelBookingResponse" message="tns:IVehicle_CancelBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCarAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/CheckCarAvailability" message="tns:IVehicle_CheckCarAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/CheckCarAvailabilityResponse" message="tns:IVehicle_CheckCarAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNumberOfCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/GetTotalNumberOfCar" message="tns:IVehicle_GetTotalNumberOfCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/GetTotalNumberOfCarResponse" message="tns:IVehicle_GetTotalNumberOfCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNumberOfCarOnRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicle/GetTotalNumberOfCarOnRent" message="tns:IVehicle_GetTotalNumberOfCarOnRent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicle/GetTotalNumberOfCarOnRentResponse" message="tns:IVehicle_GetTotalNumberOfCarOnRent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehicle" type="tns:IVehicle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCar">
      <soap:operation soapAction="http://tempuri.org/IVehicle/InsertCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCarDetails">
      <soap:operation soapAction="http://tempuri.org/IVehicle/RetrieveCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCarDetails">
      <soap:operation soapAction="http://tempuri.org/IVehicle/UpdateCarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCarRecords">
      <soap:operation soapAction="http://tempuri.org/IVehicle/DeleteCarRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableCars">
      <soap:operation soapAction="http://tempuri.org/IVehicle/AvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeBooking">
      <soap:operation soapAction="http://tempuri.org/IVehicle/MakeBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyBooking">
      <soap:operation soapAction="http://tempuri.org/IVehicle/ModifyBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap:operation soapAction="http://tempuri.org/IVehicle/CancelBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCarAvailability">
      <soap:operation soapAction="http://tempuri.org/IVehicle/CheckCarAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNumberOfCar">
      <soap:operation soapAction="http://tempuri.org/IVehicle/GetTotalNumberOfCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNumberOfCarOnRent">
      <soap:operation soapAction="http://tempuri.org/IVehicle/GetTotalNumberOfCarOnRent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Car">
    <wsdl:port name="BasicHttpBinding_IVehicle" binding="tns:BasicHttpBinding_IVehicle">
      <soap:address location="http://localhost:52980/Car.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>