CarRentalWebSite/Service References/CarServiceReference/Car1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52980/Car.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
  <xs:element name="InsertCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="car" nillable="true" type="q1:CarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCarDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCarDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="RetrieveCarDetailsResult" nillable="true" type="q2:CarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="car" nillable="true" type="q3:CarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCarDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCarRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarRentalServices" minOccurs="0" name="AvailableCarsResult" nillable="true" type="q4:ArrayOfCarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numday" type="xs:int" />
        <xs:element minOccurs="0" name="acccountId" type="xs:int" />
        <xs:element minOccurs="0" name="carId" type="xs:int" />
        <xs:element minOccurs="0" name="dateOut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateReturn" type="xs:dateTime" />
        <xs:element minOccurs="0" name="totalCost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCarAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCarAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCarAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNumberOfCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNumberOfCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalNumberOfCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNumberOfCarOnRent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNumberOfCarOnRentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalNumberOfCarOnRentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>