CarRentalWebSite/Service References/CarServiceReference/Car2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="DailyRent" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isavailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModel" nillable="true" type="tns:CarModel" />
  <xs:complexType name="ArrayOfCarModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarModel" nillable="true" type="tns:CarModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarModel" nillable="true" type="tns:ArrayOfCarModel" />
</xs:schema>