CarRentalWebSite/Service References/CustomerManagementServiceReference/CustomerManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52980/CustomerManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52980/CustomerManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52980/CustomerManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalServices" />
      <xsd:import schemaLocation="http://localhost:52980/CustomerManagementService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerManagementService_RetrieveCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_RetrieveCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_UpdateCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_UpdateCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_DeleteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_DeleteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_ListCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_ListCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_GetCusomterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCusomterInfo" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagementService_GetCusomterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCusomterInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerManagementService">
    <wsdl:operation name="RetrieveCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagementService/RetrieveCustomerDetails" message="tns:ICustomerManagementService_RetrieveCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagementService/RetrieveCustomerDetailsResponse" message="tns:ICustomerManagementService_RetrieveCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagementService/UpdateCustomerDetails" message="tns:ICustomerManagementService_UpdateCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagementService/UpdateCustomerDetailsResponse" message="tns:ICustomerManagementService_UpdateCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagementService/DeleteDetails" message="tns:ICustomerManagementService_DeleteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagementService/DeleteDetailsResponse" message="tns:ICustomerManagementService_DeleteDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagementService/ListCustomer" message="tns:ICustomerManagementService_ListCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagementService/ListCustomerResponse" message="tns:ICustomerManagementService_ListCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCusomterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagementService/GetCusomterInfo" message="tns:ICustomerManagementService_GetCusomterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagementService/GetCusomterInfoResponse" message="tns:ICustomerManagementService_GetCusomterInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerManagementService" type="tns:ICustomerManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagementService/RetrieveCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagementService/UpdateCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDetails">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagementService/DeleteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagementService/ListCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCusomterInfo">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagementService/GetCusomterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerManagementService">
    <wsdl:port name="BasicHttpBinding_ICustomerManagementService" binding="tns:BasicHttpBinding_ICustomerManagementService">
      <soap:address location="http://localhost:52980/CustomerManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>